.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.about-title > h1 {
    margin: 0;
    user-select: none;
}

.about > .avatar {
    width: 180px;
    height: 180px;

    margin: 1.5em;
}

.about-links {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
}

.about-description {
    padding-bottom: 1em;
}
