.nav::before {
    content: '';
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: max(100vw, 2560px);

    clip-path: polygon(0 1%, 100% 0, 100% 70%, 0% 100%);
    background-color: #cd0000;
}

.nav-item {
    width: 160px;
    height: 50px;

    position: fixed;
    top: 15px;

    clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
    background-color: #000000;
    color: #ffffff;
    text-align: center;

    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: #3f3f3f;
}

.nav > .nav-item {
    --left-margin: max(40px, 0.5 * (100vw - 1024px))
}

.nav > .nav-item:nth-child(1) { left: var(--left-margin); }
.nav > .nav-item:nth-child(2) { left: calc(var(--left-margin) + 200px); }
.nav > .nav-item:nth-child(3) { left: calc(var(--left-margin) + 400px); }
.nav > .nav-item:nth-child(4) { left: calc(var(--left-margin) + 600px); }

.expand-button {
    width: 50px;
    height: 50px;

    position: fixed;
    left: 20px;
    top: 15px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;

    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.expand-button > span {
    margin-top: -2pt;
    font-size: 20pt;
    font-family: 'Noto Serif SC', serif;
    font-weight: 900;
    color: white;
}

.expand-button:hover {
    background-color: #3f3f3f;
}

.expand-menu {
    font-size: 20pt;
    font-family: 'FOT-Matisse Pro EB', 'Noto Serif SC', serif;
    font-weight: 900;
    color: white;

    flex-direction: row;
}

.expand-menu > .nav-item {
    margin-left: 90px;
    --top-margin: 15px;

    clip-path: none;
}

.expand-menu > .nav-item:nth-child(1) { top: var(--top-margin); }
.expand-menu > .nav-item:nth-child(2) { top: calc(var(--top-margin) + 60px); }
.expand-menu > .nav-item:nth-child(3) { top: calc(var(--top-margin) + 120px); }
.expand-menu > .nav-item:nth-child(4) { top: calc(var(--top-margin) + 180px); }

.nav-item {
    text-decoration: none;
}

.nav-item > span {
    vertical-align: middle;
    margin-top: -4pt;
    font-size: 20pt;
    font-family: 'FOT-Matisse Pro EB', 'Noto Serif SC', serif;
    font-weight: 900;
    color: white;
}

.expand-menu > .nav-item > span {
    margin-top: 0;
}