@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700;900&display=swap');

@font-face {
    font-family: "iconfont";
    src: url('../resc/iconfont.ttf?t=1674020795789') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
}

* {
    font-family: 'Noto Serif SC', serif;
}

code {
    font-family: monospace;
}

body {
    margin: 0
}

#app {
    margin-top: 80px;
    width: 100vw;
    height: calc(100vh - 90px);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#app > * {
    flex-grow: 0;
    flex-shrink: 1;

    flex-basis: 840px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: #000;
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
}

#project-wg-lite {
    width: 300px;
    height: 300px;

    position: fixed;
    z-index: 1145141919810;
    right: 0;
    bottom: 0;
}
